*{
    margin: 0;
    padding: 0;
}
main{
    background-image: url(./minikroliczki.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    margin: 2rem;
    font-size: 50px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#calculator{
    background-color: #c2d0f7;
    margin: 5rem;
    margin-top: 0; 
    width: 24rem;
    height: 36rem;
    border: 1px solid black;
    border-radius: 15px;
}
#display{
    background-image: url(./kroliczkilyzka.jpg);
    border: 1px solid black;
    border-radius: 5px;
    height: 8rem;
    width: 19rem;
    margin: 1rem 2.5rem;
    margin-bottom: 0;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}
#upperText, #bottomText{
    margin: 0.5rem 1rem;
    height: 30px;
    font-size: 30px;
}
#bottomText{
    margin-right: 0.8rem;
    height: 60px;
    font-size: 60px;
}
#numpad{
    display: grid;
    margin: 2rem 2.5rem;
    grid-template-columns: 5rem 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem 5rem 0px;
}
.smallButton{
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
}
.bigButton{
    background-color: #7cce8c;
    height: 9rem;
    width: 4rem;
    border-radius: 10px;
}
.bigButton:hover{
    background-color: #5aad6a;
}
button{
    background-color: #c5dcf1;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
}

button:hover{
    background-color: #a3bad0;
}

#ceButton{
    background-color: #d58484;
}
#ceButton:hover{
    background-color: #b36262;
}
#cButton{
    background-color: #ccc985;
}
#cButton:hover{
    background-color: #bbb874;
}
footer{
    background-image: url(./kroliczki.jpg);
    height: 2.9rem;
    text-align: center;
}
p{
    margin-top: 1rem;
}